WebContent/wsdl/service.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://model.service.com" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://model.service.com" xmlns:intf="http://model.service.com" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<!--WSDL created by Apache Axis version: 1.4
Built on Apr 22, 2006 (06:55:48 PDT)-->
 <wsdl:types>
  <schema elementFormDefault="qualified" targetNamespace="http://model.service.com" xmlns="http://www.w3.org/2001/XMLSchema">
   <element name="getService">
    <complexType>
     <sequence>
      <element name="str" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="getServiceResponse">
    <complexType>
     <sequence>
      <element name="getServiceReturn" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
  </schema>
 </wsdl:types>

   <wsdl:message name="getServiceResponse">

      <wsdl:part element="impl:getServiceResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="getServiceRequest">

      <wsdl:part element="impl:getService" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:portType name="service">

      <wsdl:operation name="getService">

         <wsdl:input message="impl:getServiceRequest" name="getServiceRequest">

       </wsdl:input>

         <wsdl:output message="impl:getServiceResponse" name="getServiceResponse">

       </wsdl:output>

      </wsdl:operation>

   </wsdl:portType>

   <wsdl:binding name="serviceSoapBinding" type="impl:service">

      <wsdlsoap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>

      <wsdl:operation name="getService">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="getServiceRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="getServiceResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

   </wsdl:binding>

   <wsdl:service name="serviceService">

      <wsdl:port binding="impl:serviceSoapBinding" name="service">

         <wsdlsoap:address location="http://localhost:8080/WebService/services/service"/>

      </wsdl:port>

   </wsdl:service>

</wsdl:definitions>
